* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
